<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Application</title>
</head>
<h2>Lets make new Application for you</h2><br>
    <div class="form-group">
        <a href="#/arithmetic">
        <button class="btn btn-primary btn-block">Arithmetic</button></a>
    </div>
<div class="form-group">
    <a href="#/string">
        <button  class="btn btn-primary btn-block">String</button></a>
    </div>

<div class="form-group">
        <button  class="btn btn-primary btn-block">Logical</button>
    </div>
<div class="form-group">
    <a href="#/date">
        <button class="btn btn-primary btn-block">Date</button>
</div>
</html>