.text-justify {
    text-align: justify;
}

.pull-left {
    float: left ;
}
.pull-right
{
    float: right;
}
.col-6 {
    float: left;
    width: 50%;
    position: relative;
    min-height: 1px;
    margin-left: 15px;
    margin-right: 60px;
}

.text-wrap
{
  white-space: nowrap;

}
.row
{
    margin-left: -15px;
    margin-right: -1px;
}

.incrsize {
    font-size: 130%;
}

.separator {
    color: black;
    background-color: black;
    border-color: black;
}

.form-horizontal .form-group label {
    text-align: left;
}

a {
    cursor: pointer;
}

#modalInput {
    width : 40%;
}