<head>
    <meta charset="UTF-8">
    <title>String Application</title>
</head>
<div class="table-responsive" ng-app="ProjectApp" ng-controller="ArithmeticController">
    <h2> Lets do Math together!</h2><br>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Lets </th>
            <!-- <th>Am I sure?</th>-->

        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="number"  class="form-control"  placeholder="Operand 1" ng-model="operator1"></td>
            <!--<td>
                <a class="btn btn-default">
                        <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true">
                        </span>
                </a>

                <a  class="btn btn-default">
                    <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
                </a>
            </td>-->
        </tr>
        <tr>
            <td>
                <select class="btn btn-primary form form-control" ng-model="operator">
                    <option value="+" selected="selected">Add</option>
                    <option value="-">Subtract</option>
                    <option value="*">Multiply</option>
                    <option value="/">Divide</option>
                </select>
            </td>
            <!--
             <td>
                 <a class="btn btn-default">
                         <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true">
                         </span>
                 </a>

                 <a  class="btn btn-default">
                     <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
                 </a>
             </td>
             -->
        </tr>

        <tr>
            <td><input type="number"  class="form-control"  placeholder="Operand 2" ng-model="operator2"></td>
            <!--
             <td>
                 <a class="btn btn-default">
                         <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true">
                         </span>
                 </a>

                 <a  class="btn btn-default">
                     <span class="glyphicon glyphicon-ok pull-right" aria-hidden="true"></span>
                 </a>
             </td>
             -->
        </tr>
        <tr>
            <td>
                <div class="form-group">
                    <button ng-click="answer()" class="btn btn-primary btn-block">Login</button>
                </div>
            </td>

        </tr>
        <tr>
            <td>
                <div>{{result}}</div>
            </td>
        </tr>

        </tbody>
    </table>
</div>
