<head>
    <meta charset="UTF-8">
    <title>Arithmetic Application</title>
</head>
<h2>Lets have fun with Strings</h2>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/string">Search</a></li>
    <li role="presentation"><a href="#/stringreplace">Replace</a></li>
    <li role="presentation" class="active"><a href="#">Join</a></li>
    <li role="presentation"><a href="#">Slice</a></li>
</ul>
<div class="table-responsive" ng-app="ProjectApp" ng-controller="StringController">
<br>
    Which two strings do you wish to join?
    <input type="text" ng-model="string.con1" class="form-control" placeholder="First String to Join">
    <input type="text" ng-model="string.con2" class="form-control" placeholder="First String to Join">
    <a ng-click="stringconcat(string.con1, string.con2)" class="btn btn-default form-control">
        Join</a>
<div>{{match}}</div>
</div>
