<head>
    <meta charset="UTF-8">
    <title>String Application</title>
</head>
<h2>Lets have fun with Strings</h2>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Search</a></li>
    <li role="presentation"><a href="#/stringreplace">Replace</a></li>
    <li role="presentation"><a href="#/stringjoin">Join</a></li>
    <li role="presentation"><a href="#/stringslice">Slice</a></li>
</ul>
<div class="table-responsive" ng-app="ProjectApp" ng-controller="StringController">
    <br>
    <p>
        Lorem ipsum dolor sit amet, et vel tale mundi. Id corpora tacimates sed. Mazim copiosae ei qui, aliquid legimus dissentiunt per at. Sint patrioque mei ut, his cu atqui molestie gloriatur.

        Qui cu odio atqui clita, graeco recteque qui eu. Cu nam nullam dignissim, sed augue fabulas impedit cu. At nam affert pertinacia signiferumque, alii graeco commune eos ea, prima senserit eu vix. Veri admodum facilisis te vis, ridens sententiae reformidans usu at.

        Quis mundi accusam eu qui, pri dicta vivendo ea. His no nisl inani philosophia. Vituperata definitionem qui an, libris eruditi omittantur et vis. Cu pro conceptam pertinacia, ad sed iudico utamur dolorum, simul noluisse cu pro. Duo cu oblique diceret oportere.

    </p><br>
    <input type="text" ng-model="model.ssearch" class="form-control" placeholder="Type text you wish to find">
    <a ng-click="model.stringSearch(model.ssearch)" class="btn btn-default form-control">
        Search</a>
    <div>{{model.result}}</div>
</div>
