<head>
    <meta charset="UTF-8">
    <title>Date Application</title>
</head>
<h2>Lets have fun with Date</h2>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/date">Basic Operations</a></li>
    <li role="presentation" class="active"><a href="#/">Manipulate Dates</a></li>
</ul>

<div class="table-responsive" ng-app="ProjectApp" ng-controller="DateController"><br>
    <input type="text" ng-model="model.pre" class="form-control"
           placeholder="How many days ago do you want to fetch for date"><br>
    <a ng-click="model.datepre(model.pre)" class="btn  btn-primary form-control">
        Search</a><br>
    <div>{{model.pastdt}}</div><br>
    <input type="text" ng-model="model.post" class="form-control"
           placeholder="How many days ahead do you want to fetch for date"><br>
    <a ng-click="model.datepost(model.post)" class="btn  btn-primary form-control">
        Search</a><br>
    <div>{{model.postdt}}</div>
</div>
