<head>
    <meta charset="UTF-8">
    <title>Date Application</title>
</head>
<h2>Lets have fun with Date</h2>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Basic Operations</a></li>
    <li role="presentation"><a href="#/datemanipulate">Manipulate Dates</a></li>
</ul>

<div class="table-responsive" ng-app="ProjectApp" ng-controller="DateController"><br>
    <input type = "date" class = "form-control" id = "InputDate"
           placeholder = "Select Date" ng-model="model.pick"><br>
    <a ng-click="model.dategetday(model.pick)" class="btn btn-info form-control">
        Would you like to find the day?</a><br>
    <div>{{model.view}}</div><br>
   <a ng-click="model.dategettime(model.pick)" class="btn btn-info form-control">
        Would you like to find how many seconds have passed since January 1, 1970??</a>
    <div>{{model.long}}</div>


</div>