<head>
    <meta charset="UTF-8">
    <title>Arithmetic Application</title>
</head>
<div class="table-responsive" ng-app="ProjectApp" ng-controller="ArithmeticController">
    <h2> Lets do Math together!</h2><br>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>What do I do?</th>
           <!-- <th>Am I sure?</th>-->

        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="number"  class="form-control"  placeholder="Operand 1" ng-model="model.data.operator1"></td>
        </tr>
        <tr>
            <td>
                <select ng-model="model.data.operator" class="btn btn-primary form form-control">
                    <option value="+" selected="selected">Add</option>
                    <option value="-">Subtract</option>
                    <option value="*">Multiply</option>
                    <option value="div">Divide</option>
                </select>
            </td>
         </tr>

         <tr>
             <td><input type="number"  class="form-control"  placeholder="Operand 2" ng-model="model.data.operator2"></td>
         </tr>
         <tr>
             <td>
                 <div class="form-group">
                     <button ng-click="model.arithanswer(model.data);" class="btn btn-primary btn-block">Login</button>
                 </div>
             </td>

         </tr>
         <tr>
             <td>
                 <div>{{model.result}}</div>
             </td>
         </tr>

         </tbody>
     </table>
 </div>
