<head>
    <title>Boolean Application</title>
</head>
<h3>Understanding Logical and Comparision Operations</h3>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="#/boolean">Comparision Operations</a></li>
    <li role="presentation" class="active"><a href="#">Logical Operations</a></li>
</ul>
<div class="table-responsive" ng-app="ProjectApp" ng-controller="BooleanController"><br>
    <input type = "number" class = "form-control"
           placeholder = "Number for logical operation" ng-model="model.bool2.num3"><br>
    <input type = "number" class = "form-control"
           placeholder = "Number for logical operation" ng-model="model.bool2.num4"><br>
    <select class="btn btn-primary form form-control" ng-model="model.bool2.operator2">
        <option value="&" selected="selected">Logical And</option>
        <option value="|">Logical Or</option>
        <option value="^">XOR</option>
        <option value="<<">Left Shift</option>
        <option value=">>">Right Shift</option>
    </select>
    <button ng-click="model.logical(model.bool2);"
            class="btn btn-primary btn-block form-control">Find me?
    </button>
    <br>
    <div>{{model.result}}</div>

</div>
