<head>
    <title>Home</title>
   <h2> Welcome Mr Bob!</h2><br>

</head>
<div ng-controller = "HomeController">
<div class="container row">
  <!--  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h3>Your Applications</h3>
<button type="button" class="btn btn-info form-control">Fun With Math</button><br><br>
<button type="button" class="btn btn-info form-control">String Change</button><br><br>
    </div>-->
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h3>New Application</h3>
        <!--<a href="#/newapp"
           class="btn btn-info form-control" role="button">Create New application</a>-->
        <a href="#/findScripts"
           class="btn btn-info form-control" role="button">Find All Scripts </a>
       <!-- <button class="btn btn-primary form-control"
                ng-click="model.findPages()">Find Pages</button>
        <div>{{pages}}</div>-->
        <!--<div ng-init="init()">Hello</div>-->
    </div>
</div>
</div>
