<head>
    <title>Home</title>
   <h1> Welcome {{uname}}!</h1><br>

</head>
<div ng-controller = "HomeController">

<div class="container row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <h3>List of Applications</h3>
        <!--<a href="#/newapp"
           class="btn btn-info form-control" role="button">Look for all applications</a>-->
        <a href="#/findScripts"
           class="btn btn-info form-control" role="button">Find All Scripts </a>
       <!-- <button class="btn btn-primary form-control"
                ng-click="model.findPages()">Find Pages</button>
        <div>{{pages}}</div>-->
        <!--<div ng-init="init()">Hello</div>-->
    </div>
    </div>
</div>
