<!DOCTYPE html>
<html lang="en">

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController as model">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Script Editor</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
           <!-- <ul class="nav navbar-nav navbar-right check-sidebar">-->
                <ul class="nav navbar-nav navbar-right">

                    <li ng-show="currentUser"  ng-class="{'active': $location.url() == '/profile'}"
                        data-toggle="collapse" data-target=".navbar-collapse.in">
                        <a href="#/profile">Profile</a></li>

                <li ng-class="{'active': $location.url() == '/home'}"
                    data-toggle="collapse" data-target=".navbar-collapse.in">
                    <a href="#/home">Home</a></li>

                <li ng-class="{'active': $location.url() == '/scripts'}"
                    ng-show="currentUser.username=='ps'"
                    data-toggle="collapse" data-target=".navbar-collapse.in">
                    <a href="#/scripts">Scripts</a></li>

                    <li ng-class="{'active': $location.url() == '/underconsscripts'}"
                        ng-show="currentUser.username=='ps'"
                        data-toggle="collapse" data-target=".navbar-collapse.in">
                        <a href="#/underconsscripts">Under Construction</a></li>


            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="currentUser" ng-class="{'active': $location.url() == '/signup'}"
                    data-toggle="collapse" data-target=".navbar-collapse.in">
                    <a href="#/signup"> Register</a></li>

                <li ng-hide="currentUser" ng-class="{'active': $location.url() == '/login'}"
                    data-toggle="collapse" data-target=".navbar-collapse.in">
                    <a href="#/login"> Login</a></li>


                <li ng-show="currentUser" data-toggle="collapse" data-target=".navbar-collapse.in">
                    <a href="#/login" ng-click="model.logout()">Logout</a></li>

            </ul>
        </div>
    </div>
</nav>

</body>
</html>